[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
pylint = "*"
black = "*"
pre-commit = "*"
bpython = "*"
ipdb = "*"
ptvsd = "*"

[packages]
python-dotenv = "*"
scrapy = "*"

[scripts]

[requires]
python_version = "3.8"

[packages.pymongo]
extras = [ "srv", "tls",]
